<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image: url('<%= asset_path('') %>');">
  <header>
  <% if user_signed_in? %>
    <h1>Welcome  <%= current_user.name %><span class="app-name"></span></h1>
    <p></p>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class:"btn btn-primary" %>
  </header>
  <div class="container" style="background-image: url('<%= asset_path('') %>');">
      <section class="user-content">
        <h2><%= current_user.name %>さんのリスト</h2>
        <ul class="sample1">
          <% current_user.lists.each do |list| %>
            <li><%= link_to list.name, list %></li>
          <% end %>
        </ul>
      </section>
    <% else %>
      <section class="signup-section" >
        <p><%= link_to 'サインイン', new_user_session_path, class: "btn btn-primary" %></p>
        <p><%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary" %></p>
      </section>
    <% end %>
  </div>
  <%= link_to "新しいリストを作成", new_list_path, class: "btn btn-primary" %>
  <%= link_to "新しいアラートメールを作成", new_alert_email_path, class: "btn btn-primary" %>
</body>
</html>