<!DOCTYPE html>
<html>
<head>
  <title>Sign in to CheckMate</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <img src="https://example.com/your-image.jpg" alt="CheckMate Logo">
    <h1><span class="app-name">CheckMate</span> Sign in</h1>
    <p>Log in to your account</p>
  </header>

  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign in" %>
      </div>
    <% end %>

    <p>Don't have an account? <%= link_to "Sign up", new_user_registration_path %></p>
  </div>
</body>
</html>
